@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700); /* Font */

body{
    font-family: 'Roboto', sans-serif!important;
    background-image: url('../img/landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;  
}

.title {
    font-size: 7vh;
    font-weight: 500;
}

.container-fluid{
    padding: 0;
}

/* Navigation */

.navbar-fixed-top{
    background-color: white;
    height: 100px;
    border-bottom: 3px solid #F6B352;
}

.navbar-nav li{
    margin-top: 40px;
    padding-right: 2em;
}

.navbar-nav a{
    color: #383A3F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    padding: 0!important;
}

.navbar-nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #383A3F;
    transition: 0.4s;
}

.navbar-toggle {  /* Move Hamburger Bar */
    padding-right: 20px!important;
}

.navbar-nav a:hover{ /* removes bootstrap link hover */
    background-color: transparent!important;
}

.navbar-nav a:hover:after {
    width: 100%;
}


.icon-bar { /* hamburger bar */
   background-color:#000000!important;
}

/* Collapse Nav Menu Style */
.collapsing, .in {
	background-color: #fff;
    box-shadow: 0px 1px 5px #888888;
}

.collapsing ul li a, .in ul li a {
	color: #59595E;
	border-bottom: 1px solid #f1f1f1;

}

/* Button Styling */
.buttons{
    margin-top: 5em;
}

.button {
    border: none;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.big-button {
    border: none;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.button1 {
    background-color: transparent; 
    color: #fff; 
    border: 3px solid #fff;
}

.button1:hover {
    background-color: #fff;
    color: #000;
}


/* Landing Screen */

#landing{
    height: 100vh;
}

.description {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin-top: -200px;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

.location{
    font-size: 2em;
    font-weight: 400;
}

.event-name {
    font-size: 7vw;
    font-weight: 700;
    line-height: 1;
}

.dates {
    font-size: 2em;
    font-weight: 400;
}

.arrow {
    margin-top: 10%;
}

.arrow i{
    color: white;
}

/* Call For Papers */

#papers{
    font-size: 1.5em;
    background-color: #F68657;
}

.button2 {
    background-color: transparent; 
    color: #000; 
    border: 3px solid #000;
}

.button2:hover {
    background-color: #000;
    color: #fff;
}

.about{
    background-color: #F68657;
    color: white;
}

.topics{
    background-color: white;
}

.about, .topics{
    padding: 4em 4em 4em 4em;
}
.about p, .topics, topics li {
    font-weight: 300;
}


/* Submission */
#submission{
    background-color: #383A3F;
    padding: 5em 0 5em 0;
}

#submission .title{
    color: white;
}

#submission a{
    color: white;
    text-decoration: underline;
}

#submission a:hover{
    color:#F6B352;
}

#submission p{
    color: white;
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 300;
}

/* Important Dates */

#dates{
    width: 100%;
    background-color: rgba(234,96,73,0.5);
    background-attachment: fixed;
}

.date-info{
    padding-top: 5em;
    padding-bottom: 5em;
}

#dates h3{
    font-size: 3em;
    text-align: center;
    color: white;
}

#dates li{
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

/* Organization */

#committee{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
}

.committee {
    margin-top: 2em;
}

.committee h3{
    padding-bottom: 20px;
}

.person {
    padding-bottom: 2em;
}

.name {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 0.6;
}

.info {
    font-weight: 300;
    line-height: 1;
}


/* Contact and Map */

#contact{
    background-color: white;
}
.contact{
    z-index: 1!important;
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 2em 2em 2em 2em;
}


#map {
    width: 100%;
    height: 600px;
    background-color: #CCC;
    overflow: hidden;
}


.contact h3{
    font-size: 2.4em;
    font-weight: 400;
}

.contact h4{
    font-weight: 300;
}

.contact a, .contact p{
    color: black;
    font-weight: 300;
}

.contact a:hover{
    text-decoration: underline;
    color:#F6B352;
}

.contact i{
    padding-right: 10px;
    color: #F68657;
}

/*Footer */
.footer {
    background-color: #FFC152;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer a{
    color: white;
    font-weight: 400;
}

.footer ul li{
    display: inline;
    padding-right: 1em;
}
