@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700);

body{
    font-family: 'Roboto', sans-serif!important;
}

.container-fluid{
    padding: 0;
}

/* Navigation */

.navbar-fixed-top{
    background-color: white;
    height: 100px;
    border-bottom: 3px solid #F6B352;
}

.navbar-nav li{
    margin-top: 40px;
    padding-right: 2em;
}

.navbar-nav a{
    color: #383A3F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    padding: 0!important;
}

.navbar-nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #383A3F;
    transition: 0.4s;
}

.navbar-toggle {
    margin-top: 40px;
}

.navbar-nav a:hover{ /* removes bootstrap link hover */
    background-color: transparent!important;
}

.navbar-nav a:hover:after {
    width: 100%;
}


.icon-bar { /* hamburger bar */
   background-color:#000000!important;
}

/* Collapse Nav Menu Style */
.collapsing, .in {
	background-color: #f7f7f7;
}

.collapsing ul li a, .in ul li a {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	color: #555!important;
	border-bottom: 1px solid #f1f1f1;
}


/* Landing Screen */

#landing{
    height: 100vh;
    background-color: grey;
    background-image: url('../img/landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;  
}

.description {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -200px;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

.location{
    font-size: 2em;
    font-weight: 400;
}

.event-name {
    font-size: 7em;
    font-weight: 700;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.dates {
    font-size: 2em;
    font-weight: 400;
}

.buttons{
    margin-top: 5em;
}

.button {
    border: none;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.big-button {
    border: none;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.button1 {
    background-color: transparent; 
    color: #fff; 
    border: 3px solid #fff;
}

.button1:hover {
    background-color: #fff;
    color: #000;
}

.arrow {
    margin-top: 10%;
}

.arrow i{
    color: white;
}

/* Call For Papers */

#papers{
    font-size: 1.5em;
}

.button2 {
    background-color: transparent; 
    color: #000; 
    border: 3px solid #000;
}

.button2:hover {
    background-color: #000;
    color: #fff;
}

.about{
    background-color: #F68657;
    color: white;
}

.topics{
    background-color: white;
}

.about, .topics{
    padding: 4em 4em 4em 4em;
}
.about p, .topics, topics li {
    font-weight: 300;
}


/* Register */

#register{
    height: 40vh;
    background-color: orange;
}

.register{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}

.reg-text{
    font-size: 3vh;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-top: 21%;
}

/* Keynote Speakers */

#speakers{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.title {
    font-size: 7vh;
    font-weight: 500;
}

.speaker {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.img-responsive {
    margin: 0 auto;
    padding-bottom: 3vh;
}

/* Schedule */

#agenda{
    height: 50vh;
    background-color: dodgerblue;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.agenda-norm{
    color: white;
    font-size: 2vh;
    font-weight: 300;
}

.agenda-bold{
    color: white;
    font-size: 3vh;
}

/* Committee */

#committee{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
}

.committee {
    margin-top: 2em;
}

.person {
    padding-bottom: 2em;
}

.name {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 0.6;
}

.info {
    font-weight: 300;
    line-height: 1;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#submission{
    background-color: #383A3F;
    padding: 5em 0 5em 0;
}

#submission .title{
    color: white;
}

#submission a{
    color: white;
    text-decoration: underline;
}

#submission a:hover{
    color:#F6B352;
}

#submission p{
    color: white;
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 300;
}

.contact{
    z-index: 1!important;
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 2em 2em 2em 2em;
}


#map {
    width: 100%;
    height: 600px;
    background-color: #CCC;
    overflow: hidden;
}


.contact h3{
    font-size: 2.4em;
    font-weight: 400;
}

.contact h4{
    font-weight: 300;
}

.contact a, .contact p{
    color: black;
    font-weight: 300;
}

.contact a:hover{
    text-decoration: underline;
}

.contact i{
    padding-right: 10px;
    color: #F68657;
}

#footer {
    height: 50px;
    background-color: #383A3F;
}